.container {
  padding: 10px;
  margin-left: 5px;
  border-radius: 10px;
  border: 1px solid #a7a7a7;
}

.container h3 {
  text-align: center;
  margin: 2px 0;
}

.label {
  display: flex;
  margin-top: 10px;
  margin-bottom: 5px;
  justify-content: space-between;
}

.date {
  width: 100%;
}

.date input {
  width: 100%;
  padding: 5px 0;
}

.trash {
  display: inline;
  cursor: pointer;
  margin-left: 2px;
  position: relative;
  top: -30px;
}

.trash:hover {
  color: #ff0000;
}

.title input {
  width: 95%;
  padding: 5px;
  margin-bottom: 5px;
}

.color input:hover,
.date input:hover,
.title input:hover {
  opacity: 0.8;
  border-color: #2c2c2c;
}

.color {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.color input {
  border: 0;
  cursor: pointer;
}

.color label {
  margin-top: 0;
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.segundary {
  background-color: #a7a7a7;
}

.primary {
  background-color: #725fa5;
  color: #ffffff;
}
